<html>
<head>
  <title>Mi LucyBlog</title>
</head>
<body>
  <h1>Mi App Responsiva</h1>
  <p>Bienvenido a la pagina de Inicio... </p>
  <div><img src="http://2.bp.blogspot.com/-S-zrNJdnnaE/U4ajsDPloDI/AAAAAAAAFL0/SmyRcuybPjU/s1600/bonitas22.jpg" width="100%" height="100%"></div>

  <p>Te presentamos las diez primeras frases de inicio de novelas que han logrado convertirse en citas clásicas y
    que hasta han sido memorizadas por muchos.</p>

<p>1.-“Vine a Comala porque me dijeron que acá vivía mi padre, un tal Pedro Páramo. Mi madre me lo dijo”.
Pedro Páramo, de Juan Rulfo.</p>

<p>2.- “Bastará decir que soy Juan Pablo Castel, el pintor que mató a María Iribarne; supongo que el proceso
  está en el recuerdo de todos y que no se necesitan mayores explicaciones sobre mi persona”. El túnel de Ernesto Sábato</p>

<p>3.- “Muchos años después, frente al pelotón de fusilamiento, el coronel Aureliano Buendía habría de recordar aquella tarde remota en que su padre lo llevó a conocer el hielo”.
Cien años de soledad, de Gabriel García Márquez</p>

<p>4.- “En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor”.
Don Quijote de la Mancha, de Miguel de Cervantes Saavedra</p>

<p>5.- “Lolita, luz de mi vida, fuego de mis entrañas. Pecado mío, alma mía. Lo-lita: la punta de la lengua emprende un viaje de tres pasos desde el borde del paladar para apoyarse, en el tercero, en el borde de los dientes. Lo.Li.Ta.”.
Lolita, de Vladimir Nabokov</p>

<p>6.- “Llamadme Ismael”.
Moby Dick, de Herman Melville</p>

<p>7.- “Si de verdad les interesa lo que voy a contarles, lo primero que querrán saber es dónde nací, cómo fue todo eso de mi infancia, que hacían mis padres antes de tenerme a mí, y demás idioteces, estilo David Copperfield; pero no tengo ganas de contarles nada de eso”.
El Guardián entre el centeno, de J.D. Salinger</p>

<p>8.- “Cuando Gregorio Samsa se despertó una mañana después de un sueño intranquilo, se encontró sobre su cama convertido en un monstruoso insecto”.
La Metamorfosis, de Franz Kafka</p>

<p>9.- “En mis años mozos y más vulnerables mi padre me dio un consejo que desde aquella época no ha dejado de darme vueltas en la cabeza. “Cuando sientas deseos de criticar a alguien” -fueron sus palabras- “recuerda que no todo el mundo ha tenido las mismas oportunidades que tú tuviste”.
El gran Gatsby, de Francis Scott Fitzgerld</p>

<p>10.- “Hoy ha muerto mamá. O quizá ayer. No lo sé. Recibí un telegrama del asilo: «Falleció su madre. Entierro mañana. Sentidas condolencias.» Pero no quiere decir nada. Quizá haya sido ayer.”
El extranjero, de Albert Camus</p>
</body>
</html>
